[Unit]
Description=Maven Proxy
#After=syslog.target
After=network-online.target


[Service]
User=tommy

# The configuration file application.properties should be here:
WorkingDirectory=/mnt/sonstiges/maven-proxy

SyslogIdentifier=maven-proxy

# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /mnt/sonstiges/maven-proxy
ExecStartPre=/bin/chown -R tommy:tommy /mnt/sonstiges/maven-proxy
ExecStartPre=/bin/chmod -R 775 /mnt/sonstiges/maven-proxy

#ExecStart=/bin/bash -c "java ..."

ExecStart=/usr/bin/java \
 -Xms32m \
 -Xmx64m \
 -XX:TieredStopAtLevel=1 \
 -noverify \
 -Djava.security.egd=file:/dev/./urandom \
 -Ddirectory.working=/mnt/sonstiges/maven-proxy \
 -classpath \
 /home/tommy/git/misc/misc-maven-proxy/app/misc-maven-proxy.jar:/home/tommy/git/misc/misc-maven-proxy/app/libs/* \
 de.freese.maven.proxy.MavenProxyApplication

Type=simple
StandardOutput=journal
StandardError=journal

# When a JVM receives a SIGINT signal it exits with code 130
KillSignal=SIGINT
SuccessExitStatus=130


[Install]
WantedBy=multi-user.target

#check logs: journalctl -u mavenProxy -f -o cat

