[Unit]
Description=Maven Proxy
#After=syslog.target
After=network-online.target


[Service]
User=tommy

# The configuration file application.properties should be here:
WorkingDirectory=/mnt/ssd512GB/maven-proxy

SyslogIdentifier=maven-proxy

# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir -p /mnt/ssd512GB/maven-proxy
ExecStartPre=/bin/chown -R tommy:tommy /mnt/ssd512GB/maven-proxy
ExecStartPre=/bin/chmod -R 775 /mnt/ssd512GB/maven-proxy

#ExecStart=/bin/bash -c "java ..."

ExecStart=/usr/bin/java \
 -Dmavenproxy.directory=/mnt/ssd512GB/maven-proxy \
 -Dmavenproxy.port=7999 \
 -Xms32m \
 -Xmx64m \
 -noverify \
 -XX:TieredStopAtLevel=1 \
 -Djava.security.egd=file:/dev/./urandom \
 -jar \
 /home/tommy/git/misc/misc-maven-proxy/app/misc-maven-proxy-jar-with-dependencies.jar

Type=simple
StandardOutput=journal
StandardError=journal

# When a JVM receives a SIGINT signal it exits with code 130
KillSignal=SIGTERM
SuccessExitStatus=143


[Install]
WantedBy=multi-user.target

#check logs: journalctl -u mavenProxy -f -o cat

